.container-fluid.continue-container {
	margin: 0;
	padding: 0 5% 0 5%;
	display: flex;
	font-family: 'Playfair Display';
}

/*button*/
.container-fluid.button-container {
	padding: 4% 0 7% 0;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
}

button.load {
	background-color: white;
	border: 1px solid black;
	padding: 20px 30px 20px 30px;
	color: rgb(98, 98, 98);
	font-family: Playfair Display;
	font-size: 25px;
}
